<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga nas redes</h4>
            </div>
        </div>
   
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center"> 

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/lucas-nunes-3b1260226/" target="_blank"
                        class="iconLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/Lnunes1" target="_blank"
                        class="iconGitHub">
                        <i class="fa fa-github-square" aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copiright bg-dark text-center py-3">
        <span class="text-light"> © 2022 Copyright Lucas Nunes</span>

    </div>



</footer>
