<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white"> 
                    <h1 class="fs-54">Seja bem vindo(a)!</h1>
                    <h5>Expresse aqui seus pensamentos!</h5>
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-md-6">
                <button>Nova Postagem</button>
                <a class="btn btn-outline-light mr-2" href="">Ver Postagem</a>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://imgur.com/a/rPHTU8Z" alt="" width="500px" height="500px">
        </div>
    
    </div>
    </div>


</div>
